<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UsersRestAPISuite">

	<listeners>
		<listener class-name="com.usersapi.utilities.Listeners" />
	</listeners>

	<test thread-count="5" name="UsersRestAPITest">
		<classes>
			<class name="com.usersapi.testcases.TC001_Get_ListUsers" />
			<class name="com.usersapi.testcases.TC002_Get_SingleUser" />
			<class name="com.usersapi.testcases.TC003_Post_CreateUser" />
			<class name="com.usersapi.testcases.TC004_Put_UpdateExistingUserData" />
			<class name="com.usersapi.testcases.TC005_Delete_UserRecord" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
